:root {
    --primary: #003366;
    --secondary: #FF6F00;
    --bg: #F5F5F5;
    --accent: #03A9F4;
    --text: #333333;
    --heading: #212121;
    --card-bg: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg);
}
.hero-section{
    background-color:var(--card-bg);
    width: 80%;
    height: 90vh;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.267);
    padding: 20px 50px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 30%;
}
.form > input,select,textarea{
    height: 50px;
    border-radius: 5px;
    border: 0.1px solid gray;
    padding-left: 20px;
}
.first-continer{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.left-section{
    min-width: 30%;
    background-color: var(--bg);
    border-radius: 15px;
}
.left-section > div{
    margin: 20px;
}
.left-section h2{
    margin: 10px;
    margin-left: 0;
    color: var(--primary);
}
.left-section p{
    color: gray;
}
.contact-us{
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 3%;
}
.hero-paragraph{
    color: gray;
}
.section-btn{
    text-align: center;
    padding:10px 100px;
    background-color: var(--accent);
    color:var(--card-bg);
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.4s ease;
}
.section-btn:hover{
    background-color: var(--card-bg);
    color: var(--accent);
    border: 1px solid #03A9F4;
    transform: translateY(-2px);
}
@media (max-width:768px){
    .first-continer{
        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }
    .hero-section{
        height: 150vh;
    }
}