:root {
    --primary: #003366;
    --secondary: #FF6F00;
    --bg: #F5F5F5;
    --accent: #03A9F4;
    --text: #333333;
    --heading: #212121;
    --card-bg: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg);
}

.main {
  background-image: url('D:/Edu/test codes/Ulearna assignments/21 cargo website project/images/pricing hero image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}